@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  background-image: linear-gradient(250deg, rgba(55, 41, 241, 0.603), rgb(2, 2, 36));
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.total {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.total span {
  letter-spacing: 3px;
}

nav h1 {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.tracker {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.tracker div {
  flex: 1;
  text-align: center;
}

.tracker div h4 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.tracker div span {
  font-size: 20px;
  letter-spacing: 2px;
}

form {
  padding-top: 20px;
}

form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: whitesmoke;
  color: black;
}

form .select {
  display: flex;
  align-items: center;
  gap: 10px;
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  background-color: rgb(57, 57, 240);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: rgba(57, 57, 240, 0.8);
}

#transaction {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#transaction li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#transaction li strong {
  font-weight: bold;
}


@media (max-width: 768px) {
  .tracker {
    flex-direction: column;
    gap: 20px;
  }

  .tracker div h4 {
    font-size: 20px;
  }

  .tracker div span {
    font-size: 18px;
  }

  form input,
  form select {
    font-size: 14px;
  }

  form button {
    font-size: 14px;
  }
}