* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Styling for the body */
body {
  /* background-color: black; */
  background-image: linear-gradient(to top, black, #131d44);
  color: white;
  font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* Styling for Unlimited movies  */
h1 {
  color: whitesmoke;
  font-weight: 1000;
  font-size: 50px;
  display: block;
  margin-top: -5px;
}
/* Styling for the Sign in anchor tag  */
a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgb(230, 26, 26);
  padding: 10px 18px;
  font-weight: 500;
}

a:hover {
  opacity: 0.8;
  transition: all 0.5s ease-in;
}

/* Styling for the Form  */
.form input {
  width: 18%;
  height: 25%;
  padding: 15px 15px;
  padding-bottom: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px;
  border-radius: 4px;
  color: black;
}

input ::placeholder {
  font-weight: bold;
}
/* Styling for the GET STARTED button  */
.btn {
  padding: 14px 14px;
  color: white;
  background-color: red;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;

  height: 10%;
}
/* To make the button hover  */
form button:hover {
  opacity: 0.6;
  transition: all 0.5s ease-in;
}
/* Styling for the Netflix logo */
img {
  width: 100%;
}
/* Styling for the header and it's background image   */
.heading1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/netflixpic.jpg);
  background-position: center/cover no-repeat;
  border-bottom: 10px solid rgba(172, 43, 167, 0.281);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
/* .heading1 ::after {
    content: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(26, 26, 240, 0.678);
    border-radius: 100px;
    z-index: 1;
  } */

/* Styling for the logo and Sign in link */
.div1 {
  position: relative;
  z-index: 2;
  height: 90px;
}

/* code for positioning the logo  */
.div1 img {
  width: 150px;
  position: absolute;
  top: 20%;
  left: 2%;
  margin-top: 0;
  margin-left: -10px;
}
/* Code to position the Sign in link */
.div1 a {
  position: absolute;
  top: 45%;
  right: 2%;
  margin-right: px;
}
/* Code to position the Section1 part which contains the first paragraph and forms  */
.section1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15%;
}
/*  Code to position all the paragraphs .. i might remove it tho  */
.p1 {
  margin: 29px 2px;
}
/* Code to style the first paragraph  */
.p1 {
  font-weight: bold;
  font-size: 20px;
}
/* hr {
    height: 5px;
    background-color: rgba(240, 255, 255, 0.699);
  } */
.div4 {
  margin: 90px 95px;
}

/* Style for the select tag */
select {
  width: 10%;
  height: 35px;
  background-color: rgba(65, 42, 64, 0.144);
  color: white;
  margin-top: 15px;
}
select option {
  color: black;
}
.section1 .p2 {
  margin-bottom: 20px;
  font-size: 18px;
}
/* for the image slide */
/* #slideshow {
    width: 200px;
    height: 350px;
    overflow: hidden;
  }
  #slides {
    width: 200px;
    height: 350px;
    position: relative;
    animation: slide 10s infinite linear;
  }
  .slide {
    float: left;
    position: absolute;
  
    width: 100%;
    height: 300px;
  /* } */

/* Style for the images */
/* .slide {
    width: 150px;
    height: 200px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 15px;
  } */
/* #slides {
    display: flex;
    padding: 10px 15px;
    animation: slide 10s infinte linear;
    position: relative;
    width: 400px;
    height: 400px;
    /* margin-left: 50px; 
  /* } */
.slideshow {
  width: 50%;
  display: flex;
  overflow-x: scroll;
}

.slideshow div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
  justify-content: center;
}
.slideshow div img {
  width: 150px;
  margin-top: -20px;
  margin-bottom: 100px;
  filter: blur(50%);
  transition: transform 0.5s;
  opacity: 0.7;
  align-items: center;
  justify-content: space-between;
}
.slideshow::-webkit-scrollbar {
  display: none;
}
.slideshow div img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}
/* Style for the Numbers on the Images  */
/* .number-slide {
    display: flex;
    margin-left: 100px;
    margin-top: -230px;
    position: absolute;
  }
  .number-slide span {
    font-size: 40px;
    color: black;
    text-shadow: 0 0 10px #e8f3e8, 0 0 20px #e8f3e8;
  
    padding: 10px 85px;
    font-weight: bold;
  } */
.div5 {
  margin: -10px 95px;
  margin-top: -90px;
}

/* this is the for the grid */
.div6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin: 90px 95px;
  margin-top: 3;
}
.div6 div {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 15px 80px 30px;
  background-color: rgba(65, 42, 64, 0.233);
}
.div6 div p {
  margin-top: 40px;
}

/* This is for the accordion */
.faq-section h2 {
  margin-top: 20px;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.faq-section {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.accordion {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Accordion Item Styles */
.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-title {
  background-color: rgb(45, 45, 45);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: background-color 0.4s ease;
}

.accordion-title:hover {
  opacity: 0.8s;
}

.accordion-content {
  display: none;
  padding: 15px 20px;
  background-color: rgb(45, 45, 45);
  color: #fff;
}

/* Show content when active */
.accordion-item.active .accordion-content {
  display: block;
}
/* This is for the form under the accordion */
.div9 {
  text-align: center;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

.div8 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  padding: 5px 5px;
}
.form1 input {
  width: 50vw;
  height: 25%;
  padding: 15px 15px;
  padding-bottom: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px;
  border-radius: 4px;
}
@media screen and (max-width: 960px) {
  .slide {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .div6 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .accordion {
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 80%;
  }
  .div8 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }

  .slideshow {
    width: 100%;
    display: flex;
    overflow-x: scroll;
  }

  .slideshow div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 8px;
    flex: none;
    justify-content: center;
  }
  .slideshow div img {
    width: 150px;
    margin-top: -20px;
    margin-bottom: 100px;
    filter: blur(50%);
    transition: transform 0.5s;
    opacity: 0.7;
    align-items: center;
    justify-content: space-between;
  }
  .slideshow::-webkit-scrollbar {
    display: none;
  }
  .slideshow div img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
  }
}
@media screen and (max-width: 498px) {
  select {
    width: 50%;
  }
  .slideshow div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
  }
}
